// Project colors
$primary-red: #000;
$secondary-red: #B22128;
$primary-dark: #419b45;


$primary-text: #727272;

$text-white: #FCFCFA;
$title-text: #71bc44;


$form-inner: #cecece;
$form-text: #707070;
$form-border: #aeaeae;

$form-background:#EEEEEF;